*{
    z-index: 1;
}

@font-face {
    font-family: 'Playfair';
    src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('ttf')
}

#particles-js > canvas{
    position: absolute;
    z-index: 0;
}

header>*:nth-child(2){
    text-decoration: underline #00B4CC;
}

.btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:100;
    color: white;
}

h1{
    font-size:100px;
    font-family:'Playfair';
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
}

#cookies_box{
    position: absolute;
    bottom:2em;
    right:2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width:400px;
    height:7em;
    background-color:rgba(255, 255, 255, 0.081);
}

#cookies_box>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    text-align: center;
}

#cookies_box *{
    color: white;
}

p{
    display: inline-block;
}

.btn{
    position: relative;
    left: 3.3em;
    
    width: 6em;

    border:2px rgba(128, 128, 128, 0.447) solid;
    border-radius: 0.3em;
}



@media only screen and (max-width: 600px) {

    h2{
        font-size: xx-large;
    }

    h1{
        font-size: 60px;
    }

    img#searchbar{
        width:300px;
        height:40px;
    }

    img#searchbar>a{
        width:100%;
        height: 100%;
    }

    #cookies_box{
        position: absolute;
        bottom:2em;
        right: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        width:90%;
        height:8em;
    }
   
    #btn-container > *{
        left:0;
    }

@media only screen and (max-width: 1200px) {
    #cookies_box{
        width:330px;
    }
}