*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Playfair';
    src: url(/public/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('ttf')
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    background-color: rgba(255, 255, 255, 0.138);
}

.btn, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:100;
}

nav{
    position: absolute;
    opacity: 0;
}   

h1{
    font-size:100px;
    font-family: 'Playfair';
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
}

h2{
    color: white;
}

#hamburger{
    display: none;
}

#cookies_box{
    position: absolute;
    bottom:2em;
    right:2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width:400px;
    height:7em;
    background-color:rgba(255, 255, 255, 0.081);
}

#cookies_box>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    text-align: center;
}

#cookies_box *{
    color: white;
}

p{
    margin: 0;
    display: inline-block;
}

.btn{
    position: relative;
    left: 3.3em;
    
    width: 6em;

    border:2px rgba(128, 128, 128, 0.447) solid;
    border-radius: 0.3em;
}



@media only screen and (max-width: 600px) {

    a{
        display: none;
    }

    h2{
        font-size: xx-large;
    }

    h1{
        font-size: 60px;
    }

    #cookies_box{
        position: absolute;
        bottom:2em;
        right: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        width:90%;
        height:8em;
    }
   
    #btn-container > *{
        left:0;
    }

    /* before clicking hamburger */
    #hamburger{
        position: absolute;
        top:0.3%;
        left:0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width:50px;
        height:50px;
    }
  
    span{
    display: block;
    width:80%;
    height:15%;
    background-color:rgba(128, 128, 128);
    border-radius: 10px;

    transform: rotate(0deg);
    transition: .25s ease-in-out;
    }

    div#arrowheads{
        display: flex;
        width: 80%;
        height: 15%;
    }

    div#arrowheads>span{
        position: relative;
        display: block;
        width: 50%;
        height: 100%;
        background-color:rgba(128, 128, 128);
        border-radius: 10px;
    }

    #gapfiller{
        bottom: 23%;
        position: relative;
    }
    /* end */

    /* after clicking hamburger */
    nav.open{
        position: relative;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.102);
        width: 100vw;
    }

    #hamburger.open>.disappear{
        visibility: hidden;
        opacity: 0;
    }

    #hamburger.open>#arrowbase{
        transform: translateY(-40%) rotate(90deg) scaleX(-75%);
    }

    #hamburger.open>#arrowheads>#arrowhead_left{
        transform: rotate(45deg) translateX(20%) translateY(-50%);
    }

    #hamburger.open>#arrowheads>#arrowhead_right{
        transform: rotate(-45deg) translateX(-20%) translateY(-50%);
    }
}
    /* end */

@media only screen and (max-width: 1200px) {
    #cookies_box{
        width:330px;
    }
}